* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color:#121212;
  scroll-behavior: smooth;
}
.navbar{
  background-color: #121212;
  color: #ffffff;
  padding: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 16px;
}
.logo-container{
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-img-container img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.logo-container p{
  font-size: 19px;
  font-weight: bold;
  color: #fbbc05;
}
.nav-links-container{
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav-links-container a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav-links-container a:hover{
  color: #fbbc05;
}
.header-banner-container{
  background: linear-gradient(to right, #9a9f82, #eab719, #8ab031);
  color: #ffffff ;
  text-align: center;
  padding: 32px 16px;
  border-radius: none;
}
.header-banner-container h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}
.header-banner-container p{
  font-size: 19px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}
.main{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 90%;
  margin: 32px auto;
  padding: 0 16px;
}
.main-posts{
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-posts article{
  display: flex;
  flex-direction: row;
  background-color: #1f1f1f;
  border: 2px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.main-posts article img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.main-posts article div{
  padding: 16px;
}
.main-posts h2{
  font-size: 24px;
  color: #2244ad;
  margin-bottom: 8px;
}
.sidebar{
  flex: 1;
  background-color: #1f1f1f;
  border: 2px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.sidebar h3{
  color: #fbbc05;
  margin-bottom: 16px;
}
.popular-post{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.popular-post img{
  width: 60px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 8px;
}
.popular-post p{
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: 0.3 ease;
}
.popular-post a:hover{
  color: #eab719;
}
.footer{
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 32px 16px;
  margin-top: 32px;
  text-align: center;
  border-top: 2px;
}
.footer-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-content div{
  flex: 1;
  padding: 16px;
}
.footer-content h2{
  margin-bottom: 16px;
  color: #fbbc05;
}

@media (max-width: 768px) {
  .navbar-container{
      flex-direction: column;
      text-align: center;
  }
}
.nav-links-container{
  flex-direction: row;
  gap: 12px;
}
.header-banner-container h1{
  font-size: 28px;
}
.main{
  flex-direction: row;
}
.main-post article{
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-post article img{
  width: 100px;
  height: 100px;
}
.main-post p{
  font-size: medium;
}
.footer{
  flex-direction: row;
  text-align: center;
}